// Color Scheme
$primary: #637382;
$secondary: #70b1d3;
$accent: #494949;
$white: #fff;
$blue:#007bff;
$default: #6c757d;
$success:#28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #117a8b;
$light: #dae0e5;
$dark: #23272b;
$body: #f7f7f7;